NODE_ENV=development

JWT_SECRET=jwt-secret-key
JWT_EXPIRES_IN=15Min
JWT_REFRESH_SECRET=jwt-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=7d

REDIS_URL=redis://localhost:6379

PORT=5500

DB_HOST=localhost
DB_PORT=5433
DB_NAME=nest-learn
DB_USERNAME=root
DB_PASSWORD=123456